* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Dark-Blue: #202733;
  --Dark-Grayish-Blue: #313a48;
  --Neon-Green: #53ffaa;
  --Light-Cyan: #cee3e9;
}

@mixin custom-media($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

.page {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Dark-Blue);
  font-family: "Manrope", sans-serif;
  font-feature-settings: "clig" off, "liga" off;
}

.content {
  width: 540px;
  // height: 332px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 48px;
  background-color: var(--Dark-Grayish-Blue);
  border-radius: 15px;
  box-shadow: 30px 50px 80px 0px rgba(0, 0, 0, 0.1);
  position: relative;

  @include custom-media(600px) {
    width: 343px;
    padding: 40px;
  }

  &__heading {
    color: var(--Neon-Green);
    text-align: center;
    font-size: 13px;
    font-weight: 800;
    letter-spacing: 4.086px;

    @include custom-media(600px) {
      font-size: 11px;
      letter-spacing: 3.457px;
    }
  }

  &__text {
    color: var(--Light-Cyan);
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    letter-spacing: -0.3px;
    quotes: "“”";

    @include custom-media(600px) {
      font-size: 24px;
      letter-spacing: -0.257px;
    }
  }

  &__divider {
    width: 100%;
    height: 16px;
    background-image: url(../images/pattern-divider-desktop.svg);
    margin: 40px 0px;

    @include custom-media(600px) {
      margin: 24px 0px;
    }
  }

  &__btn {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: none;
    background-image: url(../images/icon-dice.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: var(--Neon-Green);

    position: absolute;
    bottom: -32px;
    left: calc(50% - 32px);

    &:hover {
      cursor: pointer;
      filter: drop-shadow(0 0 20px var(--Neon-Green));
    }
  }
}
